In [1]:
# Parameters
file_name = "/Users/nli/dev/airflow_home/data/nyc_park2.csv"

In [2]:
import pandas as pd
import os
import json

In [3]:
# NYC shooting data
nyc_shooting_df=pd.read_csv('/Users/nli/dev/airflow_home/data/nyc_shooting_data.csv')

In [4]:
nyc_shooting_df.head()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,206890929,12/31/2019,23:15:00,MANHATTAN,28,0.0,HOTEL/MOTEL,True,25-44,M,BLACK,25-44,M,BLACK,997155,230828,40.800244,-73.953390
1,206891917,12/31/2019,20:14:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1007235,179932,40.660527,-73.917156
2,206882664,12/30/2019,21:29:00,BROOKLYN,71,0.0,NaN,False,25-44,M,BLACK,25-44,M,BLACK,1000996,178614,40.656923,-73.939647
3,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1006612,189509,40.686815,-73.919370
4,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK HISPANIC,1006612,189509,40.686815,-73.919370

In [5]:
nyc_shooting_df.tail()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
962,191851037,01/03/2019,21:00:00,BRONX,49,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1024472,256716,40.871217,-73.854569
963,191790873,01/02/2019,13:34:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,999653,193642,40.698174,-73.944453
964,191739125,01/01/2019,05:40:00,BROOKLYN,88,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,991148,192533,40.695141,-73.975126
965,191709964,01/01/2019,04:26:00,BROOKLYN,75,2.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,25-44,M,BLACK,1021382,181825,40.665675,-73.866156
966,191739126,01/01/2019,02:19:00,BRONX,46,2.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK HISPANIC,25-44,M,BLACK,1013072,251276,40.856331,-73.895812

In [6]:
nyc_shooting_df.shape

(967, 18)

In [7]:
nyc_shooting_df.columns

Index(['INCIDENT_KEY', 'OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'PRECINCT',
       'JURISDICTION_CODE', 'LOCATION_DESC', 'STATISTICAL_MURDER_FLAG',
       'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'VIC_AGE_GROUP', 'VIC_SEX',
       'VIC_RACE', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude'],
      dtype='object')

In [8]:
nyc_shooting_df.count()

INCIDENT_KEY               967
OCCUR_DATE                 967
OCCUR_TIME                 967
BORO                       967
PRECINCT                   967
JURISDICTION_CODE          966
LOCATION_DESC              321
STATISTICAL_MURDER_FLAG    967
PERP_AGE_GROUP             519
PERP_SEX                   519
PERP_RACE                  519
VIC_AGE_GROUP              967
VIC_SEX                    967
VIC_RACE                   967
X_COORD_CD                 967
Y_COORD_CD                 967
Latitude                   967
Longitude                  967
dtype: int64

In [9]:
nyc_shooting_df.isnull().sum()

INCIDENT_KEY                 0
OCCUR_DATE                   0
OCCUR_TIME                   0
BORO                         0
PRECINCT                     0
JURISDICTION_CODE            1
LOCATION_DESC              646
STATISTICAL_MURDER_FLAG      0
PERP_AGE_GROUP             448
PERP_SEX                   448
PERP_RACE                  448
VIC_AGE_GROUP                0
VIC_SEX                      0
VIC_RACE                     0
X_COORD_CD                   0
Y_COORD_CD                   0
Latitude                     0
Longitude                    0
dtype: int64

In [10]:
nyc_shooting_df.groupby('BORO').count()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
BORO,,,,,,,,,,,,,,,,,
BRONX,266,266,266,266,266,78,266,155,155,155,266,266,266,266,266,266,266
BROOKLYN,372,372,372,372,372,136,372,183,183,183,372,372,372,372,372,372,372
MANHATTAN,145,145,145,145,144,63,145,82,82,82,145,145,145,145,145,145,145
QUEENS,158,158,158,158,158,40,158,84,84,84,158,158,158,158,158,158,158
STATEN ISLAND,26,26,26,26,26,4,26,15,15,15,26,26,26,26,26,26,26

In [11]:
nyc_shooting_df.groupby('BORO').BORO.count()

BORO
BRONX            266
BROOKLYN         372
MANHATTAN        145
QUEENS           158
STATEN ISLAND     26
Name: BORO, dtype: int64

In [12]:
#Rename the BORO -> Borough, prepare for join table later
nyc_shooting_df.rename(columns={'BORO':"Borough"}, inplace=True)

In [13]:
nyc_shooting_df

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,Borough,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,206890929,12/31/2019,23:15:00,MANHATTAN,28,0.0,HOTEL/MOTEL,True,25-44,M,BLACK,25-44,M,BLACK,997155,230828,40.800244,-73.953390
1,206891917,12/31/2019,20:14:00,BROOKLYN,73,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1007235,179932,40.660527,-73.917156
2,206882664,12/30/2019,21:29:00,BROOKLYN,71,0.0,NaN,False,25-44,M,BLACK,25-44,M,BLACK,1000996,178614,40.656923,-73.939647
3,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1006612,189509,40.686815,-73.919370
4,206875589,12/30/2019,03:17:00,BROOKLYN,81,0.0,NaN,False,NaN,NaN,NaN,45-64,M,BLACK HISPANIC,1006612,189509,40.686815,-73.919370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,191851037,01/03/2019,21:00:00,BRONX,49,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,1024472,256716,40.871217,-73.854569
963,191790873,01/02/2019,13:34:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,999653,193642,40.698174,-73.944453
964,191739125,01/01/2019,05:40:00,BROOKLYN,88,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,991148,192533,40.695141,-73.975126
965,191709964,01/01/2019,04:26:00,BROOKLYN,75,2.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,25-44,M,BLACK,1021382,181825,40.665675,-73.866156
966,191739126,01/01/2019,02:19:00,BRONX,46,2.0,MULTI DWELL - APT BUILD,False,25-44,M,BLACK HISPANIC,25-44,M,BLACK,1013072,251276,40.856331,-73.895812

In [14]:
nyc_shooting_df2 = nyc_shooting_df.drop(columns=['INCIDENT_KEY', 'JURISDICTION_CODE', 'LOCATION_DESC', 
                                                'STATISTICAL_MURDER_FLAG', 'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE',
                                                'VIC_AGE_GROUP', 'VIC_AGE_GROUP', 'VIC_RACE', 
                                                 'X_COORD_CD', 'Y_COORD_CD'])

In [15]:
nyc_shooting_df2.head()

   OCCUR_DATE OCCUR_TIME    Borough  PRECINCT VIC_SEX   Latitude  Longitude
0  12/31/2019   23:15:00  MANHATTAN        28       M  40.800244 -73.953390
1  12/31/2019   20:14:00   BROOKLYN        73       M  40.660527 -73.917156
2  12/30/2019   21:29:00   BROOKLYN        71       M  40.656923 -73.939647
3  12/30/2019   03:17:00   BROOKLYN        81       M  40.686815 -73.919370
4  12/30/2019   03:17:00   BROOKLYN        81       M  40.686815 -73.919370

In [16]:
nyc_shooting_df2.isnull().sum()

OCCUR_DATE    0
OCCUR_TIME    0
Borough       0
PRECINCT      0
VIC_SEX       0
Latitude      0
Longitude     0
dtype: int64

In [17]:
nyc_shooting_df2.columns = ['occur_date', 'occur_time', 'borough', 'precinct', 'vic_sex','latitude', 'longitude']

In [18]:
nyc_shooting_df2.head()

   occur_date occur_time    borough  precinct vic_sex   latitude  longitude
0  12/31/2019   23:15:00  MANHATTAN        28       M  40.800244 -73.953390
1  12/31/2019   20:14:00   BROOKLYN        73       M  40.660527 -73.917156
2  12/30/2019   21:29:00   BROOKLYN        71       M  40.656923 -73.939647
3  12/30/2019   03:17:00   BROOKLYN        81       M  40.686815 -73.919370
4  12/30/2019   03:17:00   BROOKLYN        81       M  40.686815 -73.919370

In [19]:
nyc_shooting_df2.to_csv('/Users/nli/dev/airflow_home/data/nyc_shooting_data2.csv')