In [1]:
# Parameters
file_name = "/Users/nli/dev/airflow_home/data/nyc_housing_data2.csv"

In [2]:
import numpy
import pandas as pd

In [3]:
# NYC public housing data
"""
We will collect and use the location of NYC public housing data (based on borough) in this dataset.
"""
nyc_housing_df=pd.read_csv('/Users/nli/dev/airflow_home/data/nyc_housing_data.csv')

In [4]:
nyc_housing_df.shape

(4384, 42)

In [5]:
 nyc_housing_df.head()

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
0,68894,HP HUTCHINSON RIVER PARKWAY HDFC.HPO.FY20,Multifamily Finance Program,12/31/2019,12/31/2019,942897.0,1632,HUTCHINSON RIVER PARKWAY,Bronx,10461.0,...,30,0,0,0,0,0,44,0,44,44
1,67286,ROCKAWAY VILLAGE PHASE 1B (RITA STARK SITE),Multifamily Finance Program,12/30/2019,NaN,986841.0,20-52,MOTT AVENUE,Queens,11691.0,...,102,33,0,0,0,0,231,0,231,231
2,67286,ROCKAWAY VILLAGE PHASE 1B (RITA STARK SITE),Multifamily Finance Program,12/30/2019,NaN,989998.0,20-10,MOTT AVENUE,Queens,11691.0,...,37,13,0,0,0,0,85,0,85,85
3,67693,680 ST. NICHOLAS AVENUE,Multifamily Finance Program,12/30/2019,12/30/2019,28170.0,680,ST NICHOLAS AVENUE,Manhattan,10030.0,...,32,1,0,0,0,0,60,0,60,60
4,67693,680 ST. NICHOLAS AVENUE,Multifamily Finance Program,12/30/2019,12/30/2019,805979.0,356,WEST 145 STREET,Manhattan,10039.0,...,15,7,0,0,0,0,52,0,52,52

In [6]:
 nyc_housing_df.tail()

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
4379,55697,CONFIDENTIAL,Homeowner Assistance Program,01/14/2014,01/14/2014,NaN,----,----,Brooklyn,NaN,...,0,0,0,0,0,1,0,1,1,1
4380,55773,CONFIDENTIAL,Homeowner Assistance Program,01/10/2014,01/10/2014,NaN,----,----,Staten Island,NaN,...,0,0,0,0,0,1,0,1,1,1
4381,57341,CONFIDENTIAL,Homeowner Assistance Program,01/10/2014,01/10/2014,NaN,----,----,Staten Island,NaN,...,0,0,0,0,0,1,0,1,1,1
4382,55647,CONFIDENTIAL,Homeowner Assistance Program,01/07/2014,01/07/2014,NaN,----,----,Brooklyn,NaN,...,0,0,0,0,0,1,0,1,1,1
4383,55759,CONFIDENTIAL,Homeowner Assistance Program,01/03/2014,01/03/2014,NaN,----,----,Queens,NaN,...,0,0,0,0,0,1,0,1,1,1

In [7]:
nyc_housing_df.shape

(4384, 42)

In [8]:
nyc_housing_df.count()

Project ID                            4384
Project Name                          4384
Program Group                         4384
Project Start Date                    4384
Project Completion Date               3163
Building ID                           3440
Number                                4384
Street                                4384
Borough                               4384
Postcode                              3405
BBL                                   3362
BIN                                   3046
Community Board                       4384
Council District                      4375
Census Tract                          3411
NTA - Neighborhood Tabulation Area    3411
Latitude                              3405
Longitude                             3405
Latitude (Internal)                   3356
Longitude (Internal)                  3356
Building Completion Date              3285
Reporting Construction Type           4384
Extended Affordability Only           4384
Prevailing Wage Status                4384
Extremely Low Income Units            4384
Very Low Income Units                 4384
Low Income Units                      4384
Moderate Income Units                 4384
Middle Income Units                   4384
Other Income Units                    4384
Studio Units                          4384
1-BR Units                            4384
2-BR Units                            4384
3-BR Units                            4384
4-BR Units                            4384
5-BR Units                            4384
6-BR+ Units                           4384
Unknown-BR Units                      4384
Counted Rental Units                  4384
Counted Homeownership Units           4384
All Counted Units                     4384
Total Units                           4384
dtype: int64

In [9]:
#Summary of missing data
nyc_housing_df.isnull().sum()

Project ID                               0
Project Name                             0
Program Group                            0
Project Start Date                       0
Project Completion Date               1221
Building ID                            944
Number                                   0
Street                                   0
Borough                                  0
Postcode                               979
BBL                                   1022
BIN                                   1338
Community Board                          0
Council District                         9
Census Tract                           973
NTA - Neighborhood Tabulation Area     973
Latitude                               979
Longitude                              979
Latitude (Internal)                   1028
Longitude (Internal)                  1028
Building Completion Date              1099
Reporting Construction Type              0
Extended Affordability Only              0
Prevailing Wage Status                   0
Extremely Low Income Units               0
Very Low Income Units                    0
Low Income Units                         0
Moderate Income Units                    0
Middle Income Units                      0
Other Income Units                       0
Studio Units                             0
1-BR Units                               0
2-BR Units                               0
3-BR Units                               0
4-BR Units                               0
5-BR Units                               0
6-BR+ Units                              0
Unknown-BR Units                         0
Counted Rental Units                     0
Counted Homeownership Units              0
All Counted Units                        0
Total Units                              0
dtype: int64

In [10]:
nyc_housing_df.columns

Index(['Project ID', 'Project Name', 'Program Group', 'Project Start Date',
       'Project Completion Date', 'Building ID', 'Number', 'Street', 'Borough',
       'Postcode', 'BBL', 'BIN', 'Community Board', 'Council District',
       'Census Tract', 'NTA - Neighborhood Tabulation Area', 'Latitude',
       'Longitude', 'Latitude (Internal)', 'Longitude (Internal)',
       'Building Completion Date', 'Reporting Construction Type',
       'Extended Affordability Only', 'Prevailing Wage Status',
       'Extremely Low Income Units', 'Very Low Income Units',
       'Low Income Units', 'Moderate Income Units', 'Middle Income Units',
       'Other Income Units', 'Studio Units', '1-BR Units', '2-BR Units',
       '3-BR Units', '4-BR Units', '5-BR Units', '6-BR+ Units',
       'Unknown-BR Units', 'Counted Rental Units',
       'Counted Homeownership Units', 'All Counted Units', 'Total Units'],
      dtype='object')

In [11]:
nyc_housing_df2 = nyc_housing_df.drop(columns=['Program Group', 'Project Name', 'Project Start Date', 'Project Completion Date',
                           'Building ID','Number', 'Street','Postcode','BBL', 'BIN', 'Community Board', 'Council District',
                           'Census Tract', 'NTA - Neighborhood Tabulation Area','Latitude (Internal)', 
                            'Longitude (Internal)', 'Building Completion Date','Reporting Construction Type', 
                            'Extended Affordability Only', 'Prevailing Wage Status','Studio Units','1-BR Units', 
                            '2-BR Units', '3-BR Units', '4-BR Units', '5-BR Units','6-BR+ Units','Unknown-BR Units',
                            'Counted Rental Units', 'Counted Homeownership Units','All Counted Units'])

In [12]:
nyc_housing_df2

,Project ID,Borough,Latitude,Longitude,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Total Units
0,68894,Bronx,40.844284,-73.836606,0,0,44,0,0,0,44
1,67286,Queens,40.604427,-73.753203,24,92,114,0,0,1,231
2,67286,Queens,40.604334,-73.752998,8,34,43,0,0,0,85
3,67693,Manhattan,40.823321,-73.945088,49,8,2,1,0,0,60
4,67693,Manhattan,40.823823,-73.944289,36,8,3,4,0,1,52
...,...,...,...,...,...,...,...,...,...,...,...
4379,55697,Brooklyn,NaN,NaN,0,0,0,0,1,0,1
4380,55773,Staten Island,NaN,NaN,0,0,0,0,1,0,1
4381,57341,Staten Island,NaN,NaN,0,0,1,0,0,0,1
4382,55647,Brooklyn,NaN,NaN,0,0,0,0,1,0,1
4383,55759,Queens,NaN,NaN,0,0,0,0,1,0,1

In [13]:
nyc_housing_df2_wo_ll= nyc_housing_df2.drop(columns=['Latitude', 'Longitude'])

In [14]:
nyc_housing_df2_wo_ll.head()

,Project ID,Borough,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Total Units
0,68894,Bronx,0,0,44,0,0,0,44
1,67286,Queens,24,92,114,0,0,1,231
2,67286,Queens,8,34,43,0,0,0,85
3,67693,Manhattan,49,8,2,1,0,0,60
4,67693,Manhattan,36,8,3,4,0,1,52

In [15]:
nyc_housing_df3 = nyc_housing_df2.dropna()

In [16]:
#for heat map
nyc_housing_df3.head()

,Project ID,Borough,Latitude,Longitude,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Total Units
0,68894,Bronx,40.844284,-73.836606,0,0,44,0,0,0,44
1,67286,Queens,40.604427,-73.753203,24,92,114,0,0,1,231
2,67286,Queens,40.604334,-73.752998,8,34,43,0,0,0,85
3,67693,Manhattan,40.823321,-73.945088,49,8,2,1,0,0,60
4,67693,Manhattan,40.823823,-73.944289,36,8,3,4,0,1,52

In [17]:
# For this data, we only use borough information
nyc_housing_df.Borough.count()

4384

In [18]:
#Totdal boroughes number
nyc_housing_df.Borough.nunique()

5

In [19]:
# Groupby borough
nyc_housing_df.groupby('Borough').count()

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Postcode,BBL,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
Borough,,,,,,,,,,,,,,,,,,,,,
Bronx,1008,1008,1008,1008,731,808,1008,1008,802,789,...,1008,1008,1008,1008,1008,1008,1008,1008,1008,1008
Brooklyn,1862,1862,1862,1862,1278,1593,1862,1862,1576,1561,...,1862,1862,1862,1862,1862,1862,1862,1862,1862,1862
Manhattan,802,802,802,802,574,789,802,802,787,783,...,802,802,802,802,802,802,802,802,802,802
Queens,491,491,491,491,369,228,491,491,218,210,...,491,491,491,491,491,491,491,491,491,491
Staten Island,221,221,221,221,211,22,221,221,22,19,...,221,221,221,221,221,221,221,221,221,221

In [20]:
# Only count borough
nyc_housing_df.groupby('Borough').Borough.count()

Borough
Bronx            1008
Brooklyn         1862
Manhattan         802
Queens            491
Staten Island     221
Name: Borough, dtype: int64

In [21]:
# we can browser about the housing list by chaning the borough name (Manhattan, Brooklyn, Queens, Bronx, Stand Island)
nyc_housing_df.loc[nyc_housing_df["Borough"] == "Manhattan"]

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
3,67693,680 ST. NICHOLAS AVENUE,Multifamily Finance Program,12/30/2019,12/30/2019,28170.0,680,ST NICHOLAS AVENUE,Manhattan,10030.0,...,32,1,0,0,0,0,60,0,60,60
4,67693,680 ST. NICHOLAS AVENUE,Multifamily Finance Program,12/30/2019,12/30/2019,805979.0,356,WEST 145 STREET,Manhattan,10039.0,...,15,7,0,0,0,0,52,0,52,52
5,68188,WEST 141ST STREET CLUSTER.PILLARS.FY20,Multifamily Finance Program,12/30/2019,NaN,41491.0,111,WEST 141 STREET,Manhattan,10030.0,...,16,0,0,0,0,0,59,0,59,59
6,68188,WEST 141ST STREET CLUSTER.PILLARS.FY20,Multifamily Finance Program,12/30/2019,NaN,41496.0,148,WEST 141 STREET,Manhattan,10030.0,...,0,0,0,0,0,0,30,0,30,30
36,65563,LES 278 HDFC.PLP.FY20 (278 EAST 7 STREET),Multifamily Finance Program,12/19/2019,NaN,11162.0,276,EAST 7 STREET,Manhattan,10009.0,...,2,5,0,0,0,0,0,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4293,52436,153 Manhattan Ave HDFC Extended Affordability,Multifamily Incentives Program,03/19/2014,03/19/2014,25199.0,161,MANHATTAN AVENUE,Manhattan,10025.0,...,4,4,0,0,0,0,18,0,18,18
4295,65123,THE STACK,Multifamily Incentives Program,03/14/2014,08/31/2015,935095.0,4857,BROADWAY,Manhattan,10034.0,...,3,0,0,0,0,0,6,0,6,27
4321,49588,My Micro NY fka Adapt NYC/Micro Units,Multifamily Finance Program,02/26/2014,04/15/2016,949027.0,335,EAST 27 STREET,Manhattan,10016.0,...,0,0,0,0,0,0,23,0,23,55
4334,50392,Promenade Apartments,Multifamily Incentives Program,02/11/2014,02/11/2014,43765.0,150,WEST 225 STREET,Manhattan,10463.0,...,127,64,0,0,0,0,317,0,317,317
4368,50682,74 W 105th Street,Multifamily Incentives Program,01/21/2014,01/21/2014,37582.0,74,WEST 105 STREET,Manhattan,10025.0,...,1,0,0,0,0,0,10,0,10,10

In [22]:
nyc_housing_df_boro_summaries = nyc_housing_df.groupby('Borough').Borough.count()

In [23]:
nyc_housing_df_boro_summaries

Borough
Bronx            1008
Brooklyn         1862
Manhattan         802
Queens            491
Staten Island     221
Name: Borough, dtype: int64

In [24]:
nyc_housing_df_boro_summaries.to_csv('nyc_h_sum.csv')

/Users/nli/opt/anaconda3/envs/airflow/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.