In [3]:
import numpy
import pandas as pd

In [4]:
# NYC public housing data
"""
We will collect and use the location of NYC public housing data (based on borough) in this dataset.
"""
nyc_housing_df=pd.read_csv('./data/nyc_housing_data.csv')

In [5]:
nyc_housing_df.shape

(4384, 42)

In [6]:
 nyc_housing_df.head()

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
0,68894,HP HUTCHINSON RIVER PARKWAY HDFC.HPO.FY20,Multifamily Finance Program,12/31/2019,12/31/2019,942897.0,1632,HUTCHINSON RIVER PARKWAY,Bronx,10461.0,...,30,0,0,0,0,0,44,0,44,44
1,67286,ROCKAWAY VILLAGE PHASE 1B (RITA STARK SITE),Multifamily Finance Program,12/30/2019,NaN,986841.0,20-52,MOTT AVENUE,Queens,11691.0,...,102,33,0,0,0,0,231,0,231,231
2,67286,ROCKAWAY VILLAGE PHASE 1B (RITA STARK SITE),Multifamily Finance Program,12/30/2019,NaN,989998.0,20-10,MOTT AVENUE,Queens,11691.0,...,37,13,0,0,0,0,85,0,85,85
3,67693,680 ST. NICHOLAS AVENUE,Multifamily Finance Program,12/30/2019,12/30/2019,28170.0,680,ST NICHOLAS AVENUE,Manhattan,10030.0,...,32,1,0,0,0,0,60,0,60,60
4,67693,680 ST. NICHOLAS AVENUE,Multifamily Finance Program,12/30/2019,12/30/2019,805979.0,356,WEST 145 STREET,Manhattan,10039.0,...,15,7,0,0,0,0,52,0,52,52

In [7]:
 nyc_housing_df.tail()

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
4379,55697,CONFIDENTIAL,Homeowner Assistance Program,01/14/2014,01/14/2014,NaN,----,----,Brooklyn,NaN,...,0,0,0,0,0,1,0,1,1,1
4380,55773,CONFIDENTIAL,Homeowner Assistance Program,01/10/2014,01/10/2014,NaN,----,----,Staten Island,NaN,...,0,0,0,0,0,1,0,1,1,1
4381,57341,CONFIDENTIAL,Homeowner Assistance Program,01/10/2014,01/10/2014,NaN,----,----,Staten Island,NaN,...,0,0,0,0,0,1,0,1,1,1
4382,55647,CONFIDENTIAL,Homeowner Assistance Program,01/07/2014,01/07/2014,NaN,----,----,Brooklyn,NaN,...,0,0,0,0,0,1,0,1,1,1
4383,55759,CONFIDENTIAL,Homeowner Assistance Program,01/03/2014,01/03/2014,NaN,----,----,Queens,NaN,...,0,0,0,0,0,1,0,1,1,1

In [8]:
nyc_housing_df.shape

(4384, 42)

In [9]:
nyc_housing_df.count()

Project ID                            4384
Project Name                          4384
Program Group                         4384
Project Start Date                    4384
Project Completion Date               3163
Building ID                           3440
Number                                4384
Street                                4384
Borough                               4384
Postcode                              3405
BBL                                   3362
BIN                                   3046
Community Board                       4384
Council District                      4375
Census Tract                          3411
NTA - Neighborhood Tabulation Area    3411
Latitude                              3405
Longitude                             3405
Latitude (Internal)                   3356
Longitude (Internal)                  3356
Building Completion Date              3285
Reporting Construction Type           4384
Extended Affordability Only           4384
Prevailing Wage Status                4384
Extremely Low Income Units            4384
Very Low Income Units                 4384
Low Income Units                      4384
Moderate Income Units                 4384
Middle Income Units                   4384
Other Income Units                    4384
Studio Units                          4384
1-BR Units                            4384
2-BR Units                            4384
3-BR Units                            4384
4-BR Units                            4384
5-BR Units                            4384
6-BR+ Units                           4384
Unknown-BR Units                      4384
Counted Rental Units                  4384
Counted Homeownership Units           4384
All Counted Units                     4384
Total Units                           4384
dtype: int64

In [10]:
#Summary of missing data
nyc_housing_df.isnull().sum()

Project ID                               0
Project Name                             0
Program Group                            0
Project Start Date                       0
Project Completion Date               1221
Building ID                            944
Number                                   0
Street                                   0
Borough                                  0
Postcode                               979
BBL                                   1022
BIN                                   1338
Community Board                          0
Council District                         9
Census Tract                           973
NTA - Neighborhood Tabulation Area     973
Latitude                               979
Longitude                              979
Latitude (Internal)                   1028
Longitude (Internal)                  1028
Building Completion Date              1099
Reporting Construction Type              0
Extended Affordability Only              0
Prevailing Wage Status                   0
Extremely Low Income Units               0
Very Low Income Units                    0
Low Income Units                         0
Moderate Income Units                    0
Middle Income Units                      0
Other Income Units                       0
Studio Units                             0
1-BR Units                               0
2-BR Units                               0
3-BR Units                               0
4-BR Units                               0
5-BR Units                               0
6-BR+ Units                              0
Unknown-BR Units                         0
Counted Rental Units                     0
Counted Homeownership Units              0
All Counted Units                        0
Total Units                              0
dtype: int64

In [12]:
nyc_housing_df.columns

Index(['Project ID', 'Project Name', 'Program Group', 'Project Start Date',
       'Project Completion Date', 'Building ID', 'Number', 'Street', 'Borough',
       'Postcode', 'BBL', 'BIN', 'Community Board', 'Council District',
       'Census Tract', 'NTA - Neighborhood Tabulation Area', 'Latitude',
       'Longitude', 'Latitude (Internal)', 'Longitude (Internal)',
       'Building Completion Date', 'Reporting Construction Type',
       'Extended Affordability Only', 'Prevailing Wage Status',
       'Extremely Low Income Units', 'Very Low Income Units',
       'Low Income Units', 'Moderate Income Units', 'Middle Income Units',
       'Other Income Units', 'Studio Units', '1-BR Units', '2-BR Units',
       '3-BR Units', '4-BR Units', '5-BR Units', '6-BR+ Units',
       'Unknown-BR Units', 'Counted Rental Units',
       'Counted Homeownership Units', 'All Counted Units', 'Total Units'],
      dtype='object')

In [17]:
nyc_housing_df2 = nyc_housing_df.drop(columns=['Program Group', 'Project Name', 'Project Start Date', 'Project Completion Date',
                           'Building ID','Number', 'Street','Postcode','BBL', 'BIN', 'Community Board', 'Council District',
                           'Census Tract', 'NTA - Neighborhood Tabulation Area','Latitude (Internal)', 
                            'Longitude (Internal)', 'Building Completion Date','Reporting Construction Type', 
                            'Extended Affordability Only', 'Prevailing Wage Status','Studio Units','1-BR Units', 
                            '2-BR Units', '3-BR Units', '4-BR Units', '5-BR Units','6-BR+ Units','Unknown-BR Units',
                            'Counted Rental Units', 'Counted Homeownership Units','All Counted Units'])

In [16]:
nyc_housing_df2

,Project ID,Borough,Latitude,Longitude,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Total Units
0,68894,Bronx,40.844284,-73.836606,0,0,44,0,0,0,44
1,67286,Queens,40.604427,-73.753203,24,92,114,0,0,1,231
2,67286,Queens,40.604334,-73.752998,8,34,43,0,0,0,85
3,67693,Manhattan,40.823321,-73.945088,49,8,2,1,0,0,60
4,67693,Manhattan,40.823823,-73.944289,36,8,3,4,0,1,52
5,68188,Manhattan,40.818153,-73.938661,0,4,47,7,0,1,59
6,68188,Manhattan,40.818488,-73.939502,2,2,18,8,0,0,30
7,68432,Brooklyn,40.671982,-73.863456,0,25,7,0,0,0,32
8,68432,Brooklyn,40.671675,-73.863381,0,46,248,0,0,0,294
9,68432,Brooklyn,40.672675,-73.866436,3,50,265,0,0,1,319
10,68432,Brooklyn,40.671189,-73.866071,2,42,250,0,0,0,294
11,68432,Brooklyn,40.670554,-73.863105,1,33,260,0,0,0,294
12,68432,Brooklyn,40.670280,-73.865853,0,32,261,0,0,1,294
13,69399,Brooklyn,NaN,NaN,0,0,0,0,3,0,9
14,66720,Queens,40.699143,-73.806639,53,163,0,190,0,2,543
15,69397,Brooklyn,40.643831,-73.950752,0,0,0,0,3,0,10
16,69398,Brooklyn,40.658574,-73.952496,0,0,0,0,3,0,3
17,69398,Brooklyn,40.658566,-73.952590,0,0,0,0,3,0,16
18,69398,Brooklyn,40.658568,-73.952543,0,0,0,0,3,0,3
19,69355,Queens,40.774582,-73.932957,0,0,0,201,0,1,202
20,69395,Brooklyn,40.699707,-73.930771,0,0,0,0,3,0,8
21,69396,Brooklyn,40.684389,-73.927466,0,0,0,0,3,0,10
22,69396,Brooklyn,40.684389,-73.927466,0,0,0,0,3,0,10
23,51582,Bronx,40.817142,-73.927957,56,55,96,69,0,1,277
24,58780,Brooklyn,40.681427,-73.875399,104,115,55,0,0,1,275
25,64232,Queens,40.602296,-73.752541,18,74,80,0,0,1,173
26,64232,Queens,40.602824,-73.753206,7,27,46,0,0,0,80
27,66102,Bronx,40.827139,-73.890913,1,9,21,0,0,1,32
28,66970,Queens,40.738823,-73.960598,66,44,22,89,110,1,443
29,66970,Queens,40.739054,-73.961601,104,67,35,138,172,1,689
...,...,...,...,...,...,...,...,...,...,...,...
4354,52947,Queens,NaN,NaN,0,0,1,0,0,0,1
4355,56951,Queens,NaN,NaN,0,0,1,0,0,0,1
4356,57270,Staten Island,NaN,NaN,0,0,1,0,0,0,1
4357,57281,Staten Island,NaN,NaN,0,0,1,0,0,0,1
4358,51325,Brooklyn,NaN,NaN,0,0,2,0,0,0,2
4359,50196,Bronx,40.855396,-73.885752,0,0,42,0,0,1,43
4360,50196,Bronx,40.854315,-73.883411,0,0,23,0,0,1,24
4361,50196,Bronx,40.856930,-73.885398,0,0,62,0,0,1,63
4362,50196,Bronx,40.854475,-73.883331,0,0,25,0,0,0,25
4363,50196,Bronx,40.854554,-73.883291,0,0,25,0,0,0,25
4364,56393,Bronx,NaN,NaN,0,0,1,0,0,0,1
4365,56557,Queens,NaN,NaN,0,1,0,0,0,0,1
4366,56562,Queens,NaN,NaN,0,0,1,0,0,0,1
4367,57459,Staten Island,NaN,NaN,0,0,1,0,0,0,1
4368,50682,Manhattan,40.798269,-73.962676,0,0,0,10,0,0,10
4369,55776,Staten Island,NaN,NaN,0,0,0,0,1,0,1
4370,55681,Brooklyn,NaN,NaN,0,0,0,0,1,0,1
4371,57428,Staten Island,NaN,NaN,0,0,1,0,0,0,1
4372,51502,Bronx,NaN,NaN,0,0,0,0,1,0,1
4373,49722,Brooklyn,40.664986,-73.895100,0,29,22,0,0,1,52
4374,49722,Brooklyn,40.664945,-73.895111,0,11,72,0,0,1,84
4375,49722,Brooklyn,40.664166,-73.895855,0,89,0,0,0,1,90
4376,49722,Brooklyn,40.663863,-73.897661,0,24,27,0,0,1,52
4377,56106,Bronx,NaN,NaN,0,0,1,0,0,0,1
4378,50481,Brooklyn,NaN,NaN,0,3,0,0,0,0,3
4379,55697,Brooklyn,NaN,NaN,0,0,0,0,1,0,1
4380,55773,Staten Island,NaN,NaN,0,0,0,0,1,0,1
4381,57341,Staten Island,NaN,NaN,0,0,1,0,0,0,1
4382,55647,Brooklyn,NaN,NaN,0,0,0,0,1,0,1
4383,55759,Queens,NaN,NaN,0,0,0,0,1,0,1

In [25]:
nyc_housing_df2_wo_ll= nyc_housing_df2.drop(columns=['Latitude', 'Longitude'])

In [27]:
nyc_housing_df2_wo_ll.head()

,Project ID,Borough,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Total Units
0,68894,Bronx,0,0,44,0,0,0,44
1,67286,Queens,24,92,114,0,0,1,231
2,67286,Queens,8,34,43,0,0,0,85
3,67693,Manhattan,49,8,2,1,0,0,60
4,67693,Manhattan,36,8,3,4,0,1,52

In [23]:
nyc_housing_df3 = nyc_housing_df2.dropna()

In [28]:
#for heat map
nyc_housing_df3.head()

,Project ID,Borough,Latitude,Longitude,Extremely Low Income Units,Very Low Income Units,Low Income Units,Moderate Income Units,Middle Income Units,Other Income Units,Total Units
0,68894,Bronx,40.844284,-73.836606,0,0,44,0,0,0,44
1,67286,Queens,40.604427,-73.753203,24,92,114,0,0,1,231
2,67286,Queens,40.604334,-73.752998,8,34,43,0,0,0,85
3,67693,Manhattan,40.823321,-73.945088,49,8,2,1,0,0,60
4,67693,Manhattan,40.823823,-73.944289,36,8,3,4,0,1,52

In [49]:
# For this data, we only use borough information
nyc_housing_df.Borough.count()

4384

In [50]:
#Totdal boroughes number
nyc_housing_df.Borough.nunique()

5

In [51]:
# Groupby borough
nyc_housing_df.groupby('Borough').count()

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Postcode,BBL,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
Borough,,,,,,,,,,,,,,,,,,,,,
Bronx,1008,1008,1008,1008,731,808,1008,1008,802,789,...,1008,1008,1008,1008,1008,1008,1008,1008,1008,1008
Brooklyn,1862,1862,1862,1862,1278,1593,1862,1862,1576,1561,...,1862,1862,1862,1862,1862,1862,1862,1862,1862,1862
Manhattan,802,802,802,802,574,789,802,802,787,783,...,802,802,802,802,802,802,802,802,802,802
Queens,491,491,491,491,369,228,491,491,218,210,...,491,491,491,491,491,491,491,491,491,491
Staten Island,221,221,221,221,211,22,221,221,22,19,...,221,221,221,221,221,221,221,221,221,221

In [52]:
# Only count borough
nyc_housing_df.groupby('Borough').Borough.count()

Borough
Bronx            1008
Brooklyn         1862
Manhattan         802
Queens            491
Staten Island     221
Name: Borough, dtype: int64

In [53]:
# we can browser about the housing list by chaning the borough name (Manhattan, Brooklyn, Queens, Bronx, Stand Island)
nyc_housing_df.loc[nyc_housing_df["Borough"] == "Manhattan"]

,Project ID,Project Name,Program Group,Project Start Date,Project Completion Date,Building ID,Number,Street,Borough,Postcode,...,2-BR Units,3-BR Units,4-BR Units,5-BR Units,6-BR+ Units,Unknown-BR Units,Counted Rental Units,Counted Homeownership Units,All Counted Units,Total Units
3,67693,680 ST. NICHOLAS AVENUE,Multifamily Finance Program,12/30/2019,12/30/2019,28170.0,680,ST NICHOLAS AVENUE,Manhattan,10030.0,...,32,1,0,0,0,0,60,0,60,60
4,67693,680 ST. NICHOLAS AVENUE,Multifamily Finance Program,12/30/2019,12/30/2019,805979.0,356,WEST 145 STREET,Manhattan,10039.0,...,15,7,0,0,0,0,52,0,52,52
5,68188,WEST 141ST STREET CLUSTER.PILLARS.FY20,Multifamily Finance Program,12/30/2019,NaN,41491.0,111,WEST 141 STREET,Manhattan,10030.0,...,16,0,0,0,0,0,59,0,59,59
6,68188,WEST 141ST STREET CLUSTER.PILLARS.FY20,Multifamily Finance Program,12/30/2019,NaN,41496.0,148,WEST 141 STREET,Manhattan,10030.0,...,0,0,0,0,0,0,30,0,30,30
36,65563,LES 278 HDFC.PLP.FY20 (278 EAST 7 STREET),Multifamily Finance Program,12/19/2019,NaN,11162.0,276,EAST 7 STREET,Manhattan,10009.0,...,2,5,0,0,0,0,0,17,17,17
40,48996,204 AVENUE A & 535 EAST 12TH STREET PROJECT,Multifamily Finance Program,12/18/2019,NaN,972405.0,204,AVENUE A,Manhattan,10009.0,...,2,0,0,0,0,0,0,10,10,10
41,48996,204 AVENUE A & 535 EAST 12TH STREET PROJECT,Multifamily Finance Program,12/18/2019,NaN,972406.0,535,EAST 12 STREET,Manhattan,10009.0,...,0,0,0,0,0,0,11,0,11,11
63,69335,CONFIDENTIAL,Homeowner Assistance Program,12/06/2019,12/06/2019,NaN,----,----,Manhattan,NaN,...,0,0,0,0,0,0,0,1,1,1
68,68079,167-171 CHRYSTIE STREET,Multifamily Incentives Program,12/05/2019,NaN,991704.0,167,CHRYSTIE STREET,Manhattan,10002.0,...,2,0,0,0,0,0,15,0,15,78
71,61840,LENOX AVENUE CLUSTER (ANCP),Multifamily Finance Program,12/03/2019,NaN,23579.0,406,LENOX AVENUE,Manhattan,10037.0,...,9,0,0,0,0,0,0,9,9,9
72,61840,LENOX AVENUE CLUSTER (ANCP),Multifamily Finance Program,12/03/2019,NaN,23593.0,422,LENOX AVENUE,Manhattan,10037.0,...,0,0,0,0,0,0,0,4,4,4
73,61840,LENOX AVENUE CLUSTER (ANCP),Multifamily Finance Program,12/03/2019,NaN,23595.0,424,LENOX AVENUE,Manhattan,10037.0,...,3,0,0,0,0,0,0,3,3,3
74,61840,LENOX AVENUE CLUSTER (ANCP),Multifamily Finance Program,12/03/2019,NaN,23596.0,426,LENOX AVENUE,Manhattan,10037.0,...,0,0,0,0,0,0,0,3,3,3
75,61840,LENOX AVENUE CLUSTER (ANCP),Multifamily Finance Program,12/03/2019,NaN,23597.0,428,LENOX AVENUE,Manhattan,10037.0,...,4,0,0,0,0,0,0,4,4,4
76,61840,LENOX AVENUE CLUSTER (ANCP),Multifamily Finance Program,12/03/2019,NaN,23600.0,432,LENOX AVENUE,Manhattan,10037.0,...,3,0,0,0,0,0,0,3,3,3
77,61840,LENOX AVENUE CLUSTER (ANCP),Multifamily Finance Program,12/03/2019,NaN,40420.0,135,WEST 132 STREET,Manhattan,10027.0,...,12,11,0,0,0,0,0,29,29,29
79,68810,215 AUDUBON AVENUE HDFC.GHPP.FY20,Multifamily Finance Program,12/02/2019,NaN,6199.0,215,AUDUBON AVENUE,Manhattan,10033.0,...,12,23,0,0,0,0,47,0,47,47
82,63968,BALTON COMMONS,Small Homes Program,11/27/2019,NaN,989032.0,267,WEST 126 STREET,Manhattan,10027.0,...,11,3,0,0,0,0,37,0,37,37
83,69309,CONFIDENTIAL,Homeowner Assistance Program,11/27/2019,11/27/2019,NaN,----,----,Manhattan,NaN,...,1,0,0,0,0,0,0,1,1,1
91,69378,251 WEST 117TH STREET,Multifamily Incentives Program,11/26/2019,NaN,38465.0,253,WEST 117 STREET,Manhattan,10026.0,...,11,0,0,0,0,0,32,0,32,104
97,69374,433 EAST 13TH STREET APARTMENTS,Multifamily Incentives Program,11/22/2019,NaN,984205.0,435,EAST 13 STREET,Manhattan,10009.0,...,7,0,0,0,0,0,30,0,30,113
106,68433,GODDARD RIVERSIDE.HRP.FY20,Multifamily Finance Program,11/14/2019,NaN,6012.0,711,AMSTERDAM AVENUE,Manhattan,10025.0,...,30,90,44,0,0,0,0,194,194,194
124,69118,KNICKERBOCKER VILLAGE,Multifamily Incentives Program,10/30/2019,10/30/2019,25490.0,10,MONROE STREET,Manhattan,10002.0,...,37,2,0,0,0,0,132,0,132,132
125,69118,KNICKERBOCKER VILLAGE,Multifamily Incentives Program,10/30/2019,10/30/2019,805092.0,12,MONROE STREET,Manhattan,10002.0,...,29,0,0,0,0,0,150,0,150,150
126,69118,KNICKERBOCKER VILLAGE,Multifamily Incentives Program,10/30/2019,10/30/2019,805093.0,14,MONROE STREET,Manhattan,10002.0,...,39,11,0,0,0,0,139,0,139,139
127,69118,KNICKERBOCKER VILLAGE,Multifamily Incentives Program,10/30/2019,10/30/2019,805094.0,16,MONROE STREET,Manhattan,10002.0,...,37,11,0,0,0,0,134,0,134,134
128,69118,KNICKERBOCKER VILLAGE,Multifamily Incentives Program,10/30/2019,10/30/2019,805097.0,18,MONROE STREET,Manhattan,10002.0,...,23,0,0,0,0,0,108,0,108,108
129,69118,KNICKERBOCKER VILLAGE,Multifamily Incentives Program,10/30/2019,10/30/2019,805098.0,20,MONROE STREET,Manhattan,10002.0,...,36,12,0,0,0,0,134,0,134,134
130,69118,KNICKERBOCKER VILLAGE,Multifamily Incentives Program,10/30/2019,10/30/2019,805099.0,30,MONROE STREET,Manhattan,10002.0,...,38,11,0,0,0,0,140,0,140,140
131,69118,KNICKERBOCKER VILLAGE,Multifamily Incentives Program,10/30/2019,10/30/2019,805100.0,32,MONROE STREET,Manhattan,10002.0,...,29,0,0,0,0,0,150,0,150,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4049,51177,Edgecombe Preservation Reyndication (Phase),Multifamily Finance Program,06/27/2014,03/01/2016,804763.0,219,EDGECOMBE AVENUE,Manhattan,10030.0,...,10,0,0,0,0,0,30,0,30,30
4085,49908,546 West 44th Street,Multifamily Incentives Program,06/26/2014,07/14/2017,955006.0,546,WEST 44 STREET,Manhattan,10036.0,...,13,0,0,0,0,0,62,0,62,280
4092,51104,456 Washington Street,Multifamily Incentives Program,06/26/2014,10/07/2016,956094.0,460,WASHINGTON STREET,Manhattan,10013.0,...,11,0,0,0,0,0,22,0,22,107
4097,51607,261 Hudson Street,Multifamily Incentives Program,06/26/2014,08/29/2017,953385.0,261,HUDSON STREET,Manhattan,10013.0,...,9,0,0,0,0,0,41,0,41,201
4103,50359,FS Development,Multifamily Finance Program,06/25/2014,06/25/2014,3581.0,2394,ADAM C POWELL BOULEVARD,Manhattan,10030.0,...,12,12,23,0,0,0,51,0,51,51
4104,50359,FS Development,Multifamily Finance Program,06/25/2014,06/25/2014,41428.0,224,WEST 140 STREET,Manhattan,10030.0,...,18,0,0,0,0,0,18,0,18,18
4105,50359,FS Development,Multifamily Finance Program,06/25/2014,06/25/2014,41430.0,226,WEST 140 STREET,Manhattan,10030.0,...,18,0,0,0,0,0,18,0,18,18
4106,50359,FS Development,Multifamily Finance Program,06/25/2014,06/25/2014,41432.0,228,WEST 140 STREET,Manhattan,10030.0,...,18,0,0,0,0,0,18,0,18,18
4107,51590,226 West 113th Street HDFC,Multifamily Finance Program,06/25/2014,03/13/2017,38023.0,226,WEST 113 STREET,Manhattan,10026.0,...,0,0,12,5,0,0,1,17,18,18
4129,50580,180 Saint Nicholas Avenue HDFC,Multifamily Finance Program,06/24/2014,10/25/2017,28059.0,180,ST NICHOLAS AVENUE,Manhattan,10026.0,...,0,21,0,0,0,0,0,21,21,21
4132,48128,"Harlem Cluster-Artimus Construction, Inc.",Multifamily Finance Program,06/19/2014,12/14/2016,38344.0,235,WEST 116 STREET,Manhattan,10026.0,...,11,5,0,0,0,0,16,0,16,16
4133,48128,"Harlem Cluster-Artimus Construction, Inc.",Multifamily Finance Program,06/19/2014,12/14/2016,38995.0,229,WEST 121 STREET,Manhattan,10027.0,...,10,0,0,0,0,0,21,0,21,21
4134,48128,"Harlem Cluster-Artimus Construction, Inc.",Multifamily Finance Program,06/19/2014,12/14/2016,40547.0,119,WEST 133RD STREET,Manhattan,10030.0,...,1,0,0,0,0,0,10,0,10,10
4135,48128,"Harlem Cluster-Artimus Construction, Inc.",Multifamily Finance Program,06/19/2014,12/14/2016,40553.0,125,WEST 133 STREET,Manhattan,10030.0,...,14,5,0,0,0,0,21,0,21,21
4136,48128,"Harlem Cluster-Artimus Construction, Inc.",Multifamily Finance Program,06/19/2014,12/14/2016,40557.0,132,WEST 133 STREET,Manhattan,10030.0,...,9,0,0,0,0,0,11,0,11,11
4137,48128,"Harlem Cluster-Artimus Construction, Inc.",Multifamily Finance Program,06/19/2014,12/14/2016,41096.0,63,WEST 137TH ST,Manhattan,10037.0,...,11,0,0,0,0,0,21,0,21,21
4138,48767,HRP 133-134,Multifamily Finance Program,06/19/2014,06/19/2014,40676.0,502,WEST 134 STREET,Manhattan,10031.0,...,23,6,0,0,0,0,30,0,30,30
4139,48767,HRP 133-134,Multifamily Finance Program,06/19/2014,06/19/2014,844218.0,503,WEST 133 STREET,Manhattan,10027.0,...,27,12,0,0,0,0,41,0,41,41
4187,50330,626 First Avenue,Multifamily Incentives Program,06/18/2014,07/03/2018,951712.0,626,1 AVENUE,Manhattan,10016.0,...,41,10,0,0,0,0,160,0,160,761
4216,50416,Logan Plaza,Multifamily Incentives Program,06/04/2014,06/04/2014,5558.0,1423,AMSTERDAM AVENUE,Manhattan,10027.0,...,49,6,0,0,0,0,130,0,130,130
4238,55500,Carnegie Park,Multifamily Finance Program,05/14/2014,11/12/2015,1869.0,200,200 EAST 94 STREET,Manhattan,NaN,...,0,0,0,0,0,92,92,0,92,92
4278,50252,El Borinquen II,Multifamily Finance Program,03/31/2014,03/31/2014,6628.0,143,AVENUE D,Manhattan,10009.0,...,9,4,0,0,0,0,17,0,17,17
4279,50252,El Borinquen II,Multifamily Finance Program,03/31/2014,03/31/2014,11742.0,630,EAST 11 STREET,Manhattan,10009.0,...,9,0,0,0,0,0,10,0,10,10
4291,52436,153 Manhattan Ave HDFC Extended Affordability,Multifamily Incentives Program,03/19/2014,03/19/2014,25197.0,153,MANHATTAN AVENUE,Manhattan,10025.0,...,16,5,0,0,0,0,22,0,22,22
4292,52436,153 Manhattan Ave HDFC Extended Affordability,Multifamily Incentives Program,03/19/2014,03/19/2014,25198.0,157,MANHATTAN AVENUE,Manhattan,10025.0,...,5,0,0,0,0,0,24,0,24,24
4293,52436,153 Manhattan Ave HDFC Extended Affordability,Multifamily Incentives Program,03/19/2014,03/19/2014,25199.0,161,MANHATTAN AVENUE,Manhattan,10025.0,...,4,4,0,0,0,0,18,0,18,18
4295,65123,THE STACK,Multifamily Incentives Program,03/14/2014,08/31/2015,935095.0,4857,BROADWAY,Manhattan,10034.0,...,3,0,0,0,0,0,6,0,6,27
4321,49588,My Micro NY fka Adapt NYC/Micro Units,Multifamily Finance Program,02/26/2014,04/15/2016,949027.0,335,EAST 27 STREET,Manhattan,10016.0,...,0,0,0,0,0,0,23,0,23,55
4334,50392,Promenade Apartments,Multifamily Incentives Program,02/11/2014,02/11/2014,43765.0,150,WEST 225 STREET,Manhattan,10463.0,...,127,64,0,0,0,0,317,0,317,317
4368,50682,74 W 105th Street,Multifamily Incentives Program,01/21/2014,01/21/2014,37582.0,74,WEST 105 STREET,Manhattan,10025.0,...,1,0,0,0,0,0,10,0,10,10

In [54]:
nyc_housing_df_boro_summaries = nyc_housing_df.groupby('Borough').Borough.count()

In [55]:
nyc_housing_df_boro_summaries

Borough
Bronx            1008
Brooklyn         1862
Manhattan         802
Queens            491
Staten Island     221
Name: Borough, dtype: int64

In [57]:
nyc_housing_df_boro_summaries.to_csv('nyc_h_sum.csv')

/Users/nli/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.